@using EntityLayer
@model  List<Hakkımızda>
<div class="container-xxl py-6">
    <div class="container">

        @foreach(var item in Model)
        {
            
       
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="@item.Picture1" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="@item.Picture2" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">Hakkımızda</h6>
                    <h1 class="display-6 mb-4">@item.Title</h1>
                    <p>@item.Description</p>
                    <div class="row g-2 mb-4 pb-2">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>@item.Services1
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>@item.Services2
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>@item.Services3
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>@item.Services4
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <a class="btn btn-primary py-3 px-5" href="">@item.Buton</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:+0123456789">
                                <span class="flex-shrink-0 btn-square bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </span>
                                <span class="px-3">@item.phonenumber</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>